<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Automated Analysis of Hotel Reviews</h1>
        <form id="sentimentForm" method="post" action="/predict">
            <div class="form-group">
                <label for="textInput">Enter your text:</label>
                <textarea class="form-control" id="textInput" name="text" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Predict Sentiment</button>
        </form>
        <div id="result" class="mt-4"></div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-Eb5FjrBc8hksmOTz1z6EZg3p6L/0EGp+Pz/NteYI9KI7fH5h/3Ht7nqrc8i5kDZ+" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+7DlxFsEBhTX4GXwOstqDauSw+XW6cpaIPO" crossorigin="anonymous"></script>
</body>
</html>
